In [114]:
from __future__ import print_function
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.layers import Conv2D, MaxPooling2D
from keras.optimizers import SGD

In [197]:
x_train=pd.read_csv(r'G:\Class_project\New_folder\A_train_samples.csv')
y_train=pd.read_csv(r'G:\Class_project\New_folder\A_train_labels.csv')
x_test=pd.read_csv(r'G:\Class_project\New_folder\A_test_samples.csv')
y_test=pd.read_csv(r'G:\Class_project\New_folder\A_test_labels.csv')
x_train=x_train[['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11',
       'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20', 'F21',
       'F22', 'F23', 'F24', 'F25', 'F26', 'F27', 'F28', 'F29', 'F30', 'F31',
       'F32', 'F33', 'F34', 'F35', 'F36', 'F37', 'F38', 'F39', 'F40', 'F41',
       'F42']]
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(175341, 42)
(175341, 25)
(175341, 42)
(175341, 1)

In [239]:
y_train1=pd.get_dummies(y_train['C5'])
y_train2=y_train['C5']
df_train=pd.concat([y_train1,y_train2],axis=1)
df_train.drop(['C5'],axis=1, inplace=True)


y_test1=pd.get_dummies(y_test['Labels'])
df_test=pd.concat([y_test,y_test1],axis=1)
df_test.drop(['Labels'],axis=1,inplace=True)
df_test

        1   2   3   4   5   6   7   8   9   10
0        1   0   0   0   0   0   0   0   0   0
1        0   0   0   1   0   0   0   0   0   0
2        0   0   1   0   0   0   0   0   0   0
3        0   0   0   1   0   0   0   0   0   0
4        0   0   0   0   1   0   0   0   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
175336   0   0   0   0   0   1   0   0   0   0
175337   0   0   0   0   0   0   0   0   1   0
175338   0   0   0   0   0   1   0   0   0   0
175339   0   0   0   0   0   1   0   0   0   0
175340   0   0   0   0   0   1   0   0   0   0

[175341 rows x 10 columns]

In [240]:
df=pd.concat([x_train,y_train],axis=1)
df.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,A35,A40,N5,N10,N15,N20,N25,N30,N35,N40
0,0.000011,120,1,6,2,0,496,0,90909.0902,254,...,7,7,7,7,7,7,7,7,7,7
1,0.000008,120,1,6,2,0,1762,0,125000.0003,254,...,7,7,7,7,7,7,7,7,7,7
2,0.000005,120,1,6,2,0,1068,0,200000.0051,254,...,7,7,7,7,7,7,7,7,7,7
3,0.000006,120,1,6,2,0,900,0,166666.6608,254,...,7,7,7,7,7,7,7,7,7,7
4,0.000010,120,1,6,2,0,2126,0,100000.0025,254,...,7,7,7,7,7,7,7,7,7,7

In [245]:
model = Sequential()
# Dense(64) is a fully-connected layer with 64 hidden units.
# in the first layer, you must specify the expected input data shape:
# here, 43-dimensional vectors.
model.add(Dense(128, activation='tanh', input_dim=42))
model.add(BatchNormalization())
model.add(Dense(128, activation='tanh'))
model.add(BatchNormalization())
model.add(Dense(128, activation='tanh', input_dim=42))
model.add(BatchNormalization())
model.add(Dense(128, activation='tanh'))
model.add(BatchNormalization())
model.add(Dense(10, activation='softmax'))

sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='categorical_crossentropy',
              optimizer=sgd,
              metrics=['accuracy'])

In [246]:

model.fit(x_train, df_train,
          epochs=10,
          batch_size=128,
          validation_data=(x_test, df_test),
              shuffle=True)

Train on 175341 samples, validate on 175341 samples
Epoch 1/10
175341/175341 [==============================] - 6s 36us/step - loss: 1.3917 - accuracy: 0.5410 - val_loss: 1.6654 - val_accuracy: 0.5132
Epoch 2/10
175341/175341 [==============================] - 6s 32us/step - loss: 1.3732 - accuracy: 0.5445 - val_loss: 1.5046 - val_accuracy: 0.5118
Epoch 3/10
175341/175341 [==============================] - 6s 32us/step - loss: 1.3691 - accuracy: 0.5442 - val_loss: 1.6259 - val_accuracy: 0.5102
Epoch 4/10
175341/175341 [==============================] - 6s 32us/step - loss: 1.3666 - accuracy: 0.5447 - val_loss: 1.7322 - val_accuracy: 0.5129
Epoch 5/10
175341/175341 [==============================] - 6s 35us/step - loss: 1.3643 - accuracy: 0.5450 - val_loss: 1.5817 - val_accuracy: 0.5121
Epoch 6/10
175341/175341 [==============================] - 7s 39us/step - loss: 1.3628 - accuracy: 0.5454 - val_loss: 1.6696 - val_accuracy: 0.5133
Epoch 7/10
175341/175341 [==============================] - 7s 37us/step - loss: 1.3572 - accuracy: 0.5456 - val_loss: 1.6385 - val_accuracy: 0.5137
Epoch 8/10
175341/175341 [==============================] - 7s 38us/step - loss: 1.3486 - accuracy: 0.5452 - val_loss: 1.6308 - val_accuracy: 0.5129
Epoch 9/10
175341/175341 [==============================] - 7s 38us/step - loss: 1.3474 - accuracy: 0.5455 - val_loss: 1.5634 - val_accuracy: 0.5122
Epoch 10/10
175341/175341 [==============================] - 7s 38us/step - loss: 1.3467 - accuracy: 0.5454 - val_loss: 1.5707 - val_accuracy: 0.5190

In [247]:
score = model.evaluate(x_test,df_test,batch_size=128)
score

175341/175341 [==============================] - 1s 8us/step

[1.5707068627026723, 0.5189545154571533]

In [244]:
y=model.predict_classes(x_test)
y

array([5, 6, 5, ..., 5, 5, 5], dtype=int64)