# Credit Default Prediction

Bad: these indicate if customer is bad (=1)
Predict the customers with high risk.

 <hr>

In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import imblearn

## Exploratory Data Analysis

In [4]:
data=pd.read_excel('dataset_final.xlsx')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22620 entries, 0 to 22619
Columns: 677 entries, count to a273_4
dtypes: int64(3), uint8(674)
memory usage: 15.1 MB

In [69]:
df=pd.get_dummies(data=data, columns=['a1' ,'a2' ,'a3' ,'a4' ,'a5' ,'a6' ,'a7' ,'a8' ,'a9' ,'a10' ,'a11' ,'a12' ,'a13' ,'a14' ,'a15' ,'a16' ,'a17' ,'a18' ,'a19' ,'a20' ,'a21' ,'a22' ,'a23' ,'a24' ,'a25' ,'a26' ,'a27' ,'a28' ,'a29' ,'a30' ,'a31' ,'a32' ,'a33' ,'a34' ,'a35' ,'a36' ,'a37' ,'a38' ,'a39' ,'a40' ,'a41' ,'a42' ,'a43' ,'a44' ,'a45' ,'a46' ,'a47' ,'a48' ,'a49' ,'a50' ,'a51' ,'a52' ,'a53' ,'a54' ,'a55' ,'a56' ,'a57' ,'a58' ,'a59' ,'a60' ,'a61' ,'a62' ,'a63' ,'a64' ,'a65' ,'a66' ,'a67' ,'a68' ,'a69' ,'a70' ,'a71' ,'a72' ,'a73' ,'a74' ,'a75' ,'a76' ,'a77' ,'a78' ,'a79' ,'a80' ,'a81' ,'a82' ,'a83' ,'a84' ,'a85' ,'a86' ,'a87' ,'a88' ,'a89' ,'a90' ,'a91' ,'a92' ,'a93' ,'a94' ,'a95' ,'a96' ,'a97' ,'a98' ,'a99' ,'a100' ,'a101' ,'a102' ,'a103' ,'a104' ,'a105' ,'a106' ,'a107' ,'a108' ,'a109' ,'a110' ,'a111' ,'a112' ,'a113' ,'a114' ,'a115' ,'a116' ,'a117' ,'a118' ,'a119' ,'a120' ,'a121' ,'a122' ,'a123' ,'a124' ,'a125' ,'a126' ,'a127' ,'a128' ,'a129' ,'a130' ,'a131' ,'a132' ,'a133' ,'a134' ,'a135' ,'a136' ,'a137' ,'a138' ,'a139' ,'a140' ,'a141' ,'a142' ,'a143' ,'a144' ,'a145' ,'a146' ,'a147' ,'a148' ,'a149' ,'a150' ,'a151' ,'a152' ,'a153' ,'a154' ,'a155' ,'a156' ,'a157' ,'a158' ,'a159' ,'a160' ,'a161' ,'a162' ,'a163' ,'a164' ,'a165' ,'a166' ,'a167' ,'a168' ,'a169' ,'a170' ,'a171' ,'a172' ,'a173' ,'a174' ,'a175' ,'a176' ,'a177' ,'a178' ,'a179' ,'a180' ,'a181' ,'a182' ,'a183' ,'a184' ,'a185' ,'a186' ,'a187' ,'a188' ,'a189' ,'a190' ,'a191' ,'a192' ,'a193' ,'a194' ,'a195' ,'a196' ,'a197' ,'a198' ,'a199' ,'a200' ,'a201' ,'a202' ,'a203' ,'a204' ,'a205' ,'a206' ,'a207' ,'a208' ,'a209' ,'a210' ,'a211' ,'a212' ,'a213' ,'a214' ,'a215' ,'a216' ,'a217' ,'a218' ,'a219' ,'a220' ,'a221' ,'a222' ,'a223' ,'a224' ,'a225' ,'a226' ,'a227' ,'a228' ,'a229' ,'a230' ,'a231' ,'a232' ,'a233' ,'a234' ,'a235' ,'a236' ,'a237' ,'a238' ,'a239' ,'a240' ,'a241' ,'a242' ,'a243' ,'a244' ,'a245' ,'a246' ,'a247' ,'a248' ,'a249' ,'a250' ,'a251' ,'a252' ,'a253' ,'a254' ,'a255' ,'a256' ,'a257' ,'a258' ,'a259' ,'a260' ,'a261' ,'a262' ,'a263' ,'a264' ,'a265' ,'a266' ,'a267' ,'a268' ,'a269' ,'a270' ,'a271' ,'a272' ,'a273'])
df.head()

,count,cust,bad,a1_1,a1_2,a2_1,a2_2,a3_1,a3_2,a4_1,...,a271_2,a271_3,a272_1,a272_2,a272_3,a272_4,a273_1,a273_2,a273_3,a273_4
0,1,16480,0,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,0,0
1,2,16634,1,0,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
2,3,18482,0,0,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,1,0
3,4,18713,0,1,0,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
4,5,19252,0,1,0,0,1,0,1,1,...,0,1,0,0,0,1,0,0,1,0

In [75]:
df.isna().sum().sum()

0

In [76]:
df.describe()

,count,cust,bad,a1_1,a1_2,a2_1,a2_2,a3_1,a3_2,a4_1,...,a271_2,a271_3,a272_1,a272_2,a272_3,a272_4,a273_1,a273_2,a273_3,a273_4
count,22620.000000,2.262000e+04,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,...,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000,22620.000000
mean,11310.500000,5.618493e+06,0.090451,0.123077,0.876923,0.554775,0.445225,0.492617,0.507383,0.867241,...,0.465782,0.464721,0.069496,0.193811,0.271972,0.464721,0.330902,0.318126,0.227144,0.123828
std,6529.975881,4.419618e+06,0.286833,0.328533,0.328533,0.497002,0.497002,0.499957,0.499957,0.339321,...,0.498839,0.498765,0.254301,0.395291,0.444985,0.498765,0.470548,0.465759,0.418996,0.329393
min,1.000000,1.648000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5655.750000,1.822630e+06,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11310.500000,4.246013e+06,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,16965.250000,9.065963e+06,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,22620.000000,1.568583e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [77]:
# Putting feature variables to X
x = df.drop(['bad','cust','count'],axis=1)

# Putting response variable to y
y = pd.DataFrame(df['bad'])

In [78]:
y['bad'].value_counts()

0    20574
1     2046
Name: bad, dtype: int64

As the target variable is highly imbalanced we are oversampling the minority class using SMOTE

In [79]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(sampling_strategy='minority',random_state=27)
X,Y = sm.fit_sample(x, y)

In [44]:
# Splitting the data into train and test

from sklearn.model_selection import train_test_split,RepeatedStratifiedKFold,cross_val_score

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size=0.7,test_size=0.3,stratify=Y,random_state=100)

## Building the Model

In [46]:
# Importing random forest classifier from sklearn library
from sklearn.ensemble import RandomForestClassifier

# Running the random forest with default parameters.
rfc = RandomForestClassifier()

Building the model using Cross Val Score

In [50]:
from sklearn import metrics

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=10)
# evaluate model
w={0:1,1:10}
model=RandomForestClassifier(n_estimators=200,random_state=0)

#model=LogisticRegression(solver='liblinear',class_weight=w,random_state=1)
scores = cross_val_score(model, X, Y.values.ravel(), scoring='roc_auc', cv=cv)

In [51]:
print(np.mean(scores))

0.9697262273887773

 Grid Search to Find Optimal Hyperparameters

In [53]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'max_depth': [4,8,10],
    'min_samples_leaf': range(100, 400, 200),
    'min_samples_split': range(200, 500, 200),
    'n_estimators': [100,200, 300], 
    'max_features': [5, 10]
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1,verbose = 1)

In [55]:
grid_search.fit(X_train,Y_train.values.ravel())

Fitting 3 folds for each of 72 candidates, totalling 216 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   30.6s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 216 out of 216 | elapsed:  2.4min finished

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [4, 8, 10], 'max_features': [5, 10],
                         'min_samples_leaf': range(100, 400, 200),
                         'min_samples_split': range(200, 500, 200),
                         'n_estimators': [100, 200, 300]},
             verbose=1)

In [66]:
# printing the optimal accuracy score and hyperparameters
print(grid_search.best_score_,grid_search.best_params_)

0.9486164635628235 {'max_depth': 10, 'max_features': 5, 'min_samples_leaf': 100, 'min_samples_split': 200, 'n_estimators': 300}

In [ ]:
Fitting the model with best paramerters

In [60]:
rf = RandomForestClassifier(n_estimators=300,max_depth=10,max_features=5,min_samples_leaf=100,min_samples_split=200)

In [64]:
rf.fit(X_train,Y_train.values.ravel())
y_test_pred=rf.predict(X_test)

In [65]:
print(f1_score(Y_test,y_test_pred))

0.9457682124861218